<div class="container">
  <form>
    <!-- <h2>Create Post</h2> -->
    <legend>Update Post</legend>

    <div class="mb-3">
      <label for="title">Title</label><br />
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="postForm.title"
      /><br />
    </div>

    <div class="mb-3">
      <label for="body">Body</label><br />
      <input
        type="text"
        id="body"
        name="body"
        [(ngModel)]="postForm.body"
      /><br />
    </div>

    <button type="button" (click)="update()" class="btn btn-info">Submit</button
    >&nbsp;
    <a class="btn btn-danger" routerLink="/posts/dashboard">Back</a>
  </form>
</div>
